body {
    margin: 0 auto;
    padding: 1%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

img {
    max-width: 100%;
    padding: .5em;
    filter: grayscale(1) brightness(0.5) opacity(0.2);
    transition: filter 2s ease;
}

img.loaded {
    filter: grayscale(0) brightness(1) opacity(1);
}