/* Back to Portal*/
#portal {
    position: relative;
    background-color: rgb(174, 212, 255);
    padding: .5em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    text-decoration: none;
    color: black;
    box-shadow: -1px 1px 20px 1px rgba(0, 0, 0, 0);
    transition: all .5s ease;
}
#portal:hover {
    box-shadow: -1px 1px 20px 1px rgba(0, 0, 0, 0.555);
    color: blue;
}


main {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-content: center;
}
.api-info {
    background-color: rgba(201, 149, 80, 0.479);
    border-radius: 2em;
    text-align: center;
    padding: 1em;
    outline-style: solid;
    outline-color: black;
    box-shadow: -1px 1px 20px 1px rgba(0, 0, 0, 0.555);
}