@media (min-width: 40em) {

    /* header Content */
    header {
        justify-content: center;
    }

    /* */
    .name-and-logo h1 {
        font-size: 2.5em;
    }
    .name-and-logo span {
        font-size: 60%;
    }
    .header-logo {
        max-width: 8em;
    }

    /* Navigation */ 
    .navigation {
        grid-column: 1/2;
        margin-left: 5em;
    }
    .navigation a {
        font-size: 1.5em;
    }
    .social-media {
        margin-top: 4em;
        grid-column: 2/3;
    }
    .menu-button {
        margin-top: 1em;
        grid-column: 3/4;
    }
    .social-media img{
        max-width: 2.5em;
    }

    /* main content */

    main#portal {
        display: grid;
        grid-template-columns: 1fr .7fr;
    }
    .name-and-call {
        grid-row: 1/2;
        grid-column: 1/3;
        text-align: center;
    }
    .name-and-call h2 {
        font-size: 2em;
    }
    .news {
        grid-row: 2/3;
        grid-column: 1/3;
    }
    .spotlights {
        grid-row: 3/4;
        grid-column: 1/3;
    }
    .join {
        grid-row: 4/5;
        grid-column: 1/3;
    }
    .event {
        grid-row: 5/6;
        grid-column: 1/2;
    }
    .weather {
        grid-row: 5/6;
        grid-column: 2/3;
    }

    /* footer content */

    /* Footer grid content */
    .footer-logo{
        grid-column: 1/2;
        margin-left: 20%;
    }
    .address-info {
        grid-column: 2/3;
    }
    .contact-info{
        grid-column: 3/4;
    }
    .site-info {
        grid-column: 1/4;
        text-align: center;
        margin: 1%;
    }
    /* Site Info content */
    .site-info hr {
        padding: .1%;
        background-color: rgba(255, 255, 255, 0.123);
        border-color: rgba(255, 255, 255, 0.212);
        border-radius: 5%;
    }
    .site-info p {
        margin-top: 1%;
        color: rgb(0, 75, 46);
    }

    /* Discover content */
    .img-t-load {
        filter: brightness(1);
        transition: filter 1s ease;
    }
    main#discover picture:hover .img-t-load, main#thanks picture:hover .img-t-load {
        filter: brightness(.4);
    }
    .text-t-load {
        bottom: auto;
        top: -10em;
        transition: top .5s ease;
        background-color: rgba(0, 0, 0, 0);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    main#discover picture:hover .text-t-load, main#thanks picture:hover .text-t-load {
        top:3em;
    }
    .text-t-load>p>a {
        box-shadow: -1px 1px 33px 1px rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        transition: box-shadow .5s ease, background-color .5s ease;
    }
    .text-t-load>p>a:hover {
        box-shadow: -1px 1px 33px 1px rgba(0, 0, 0, 0.74);
        background-color: rgba(0, 0, 0, 0.418);
    }
}