/* Design Principles Document */

@media (min-width: 41em){
    #whiteSpace {
        flex-basis: 60%;
    }
    #whiteSpace .mobilescreenshot {
        width:30rem;
    }
}

@media (min-width: 70em){
    #whiteSpace {
        flex-basis: 25%;
    }
    #whiteSpace .mobilescreenshot {
        width:15rem;
    }
}