/* Back to Portal*/
#portal {
    position: relative;
    background-color: rgb(174, 212, 255);
    padding: .5em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    text-decoration: none;
    color: black;
    box-shadow: -1px 1px 20px 1px rgba(0, 0, 0, 0);
    transition: all .5s ease;
}
#portal:hover {
    box-shadow: -1px 1px 20px 1px rgba(0, 0, 0, 0.555);
    color: blue;
}

h1, h2, h3 {
    font-family: 'Merriweather';
    color: midnightblue;
}
p{
    font-family: 'Nunito';
    color: rgb(0, 126, 78);
    font-size: 1em;
    font-weight: 700;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    margin: 2em;
}
.card {
    outline-style: solid;
    outline-color: black;
    padding: 1em;
    text-align: center;
    background-color: rgba(201, 149, 80, 0.479);
    border-radius: 1em;
    margin: 1em;
}
.card img {
    max-width: 15em;
    border-radius: 1em;
}